$font-family:Verdana,serif;
$letter-spacing:1px;
$color:#959595;
$color_green:#64c29b;
$color_blue:#00aeef;
$color_red:#c80000;
$color_lightgreen:#14bc18;

@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}
@mixin messages($property3,$property4,$property1 , $property2 ){
  border: $property3;
  border-radius: $property4;
  border-color:$property1;
  padding:$property2;
  color: $property1;
}
@mixin transform($property1 , $property2) {
  font-size: $property1 !important;
  margin: $property2 !important;
}
@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}
@mixin focus-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

html{
  width: 100%;
  height: 100%;
  body{
    margin: 0;
    padding: 0;
    font-family:$font-family;
    letter-spacing:$letter-spacing;
    height: 100%;
    width: 100%;
    #osnov{
      width: 100%;
      height: 100%;
      display: flex;
    }
  }
}
h2{
  @include transform(48px , 10px 0);
  font-weight:bold !important;
}
#right{
  width: 35%;
  display: flex;
  #right_content{
    margin: 0 auto;
    width: 80%;
    text-align: left;
  }
}
#left {
  width: 65%;
  display: flex;
  background: url(assets/img/background.png);
  background-size: cover;
}
header{
  width:100%;
  height: 200px;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding:5px 10px;
  header img{
    width:500px;
  }
}
.block_pole_registr{
  display: flex;
  flex-direction: column;
  width: 100%;
  color: $color;
  padding-top: 30px !important;
  @include transform(20px , 0);
  font-weight:bold;
  .pole_registr_flex {
    display: flex;
    flex-direction:row-reverse;
  }
  .pole_registr{
    width: 100%;
    margin-top: 35px;
    #text{
      top:10px;
      margin-top: 10px;
    }
    input{
      &.error {
        border-bottom: 2px solid $color_red;
      }
      width: 100%;
      box-sizing: border-box;
      border: none;
      border-bottom: 2px solid #ccc;
      background: transparent;
      color: black;
      outline:none;
      padding-bottom:5px;
      @include transform(28px , 10px 0 0 0);
      @include input-placeholder {
        color: #dcdcdc;
      }
    }
    input:focus{
      @include input-placeholder {
        color: transparent;
      }
    }
  }
}
.invalid{
  @include transform(18px ,10px 0 5px 0);
  @include messages(1px solid,3px,$color_red, 3px 7px);
  position: absolute;
  text-align: center;
  font-weight:bold;
  img{
    height: 20px;
    vertical-align: text-top;
    margin-left: 10px;
  }
}
.success_massage{
  border-color: $color_lightgreen;
  color: $color_lightgreen;
}
#invalid_checkbox{
  display: block;
  margin-top:10px;
}
label{
  @include transform(20px, 50px 0 0 0);
  color: #959595;
  font-weight:bold;
  #green_text{
    color:#65c29b;
  }
  .checkbox {
    display: none;
  }
  .checkbox-custom {
    width: 32px;
    height: 32px;
    position: relative;
    margin:0 10px 0  0;
    vertical-align: middle;
    border-radius: 3px;
    cursor: pointer;
    background:lightgrey;
  }
}
.checkbox-custom, label {
  display: inline-block;
  border: none !important;
}
.checkbox:checked + .checkbox-custom:before {
  @include pseudo;
  top: 5px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: url(assets/img/Shape.png) no-repeat;
}
.checkbox:checked ~ .checkbox-custom {
  background:#dcdcdc;
}

.footer{
  display: flex;
  flex-direction: column;
  & .invalid{
    margin-top: 90px !important;
  }
}
.message{
  position: absolute;
  font-size: 10px !important;
  color: black !important;
}
input[type=submit] {
  @include transform(30px, 50px 0 0 0);
  font-weight: bold;
  width: 300px;
  background: linear-gradient(to top, $color_blue 0%, $color_green 100%);
  border-radius: 30px;
  padding: 10px 0;
  outline: none;
  color: white;
  border: none;
}
input[type=submit]:focus{
  background: linear-gradient(to top, $color_green 0%, $color_blue 100%);
}
.v-enter-active {
  transition: opacity 30s ease-in-out;
  opacity: 1;
}
.v-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.v-enter, .v-leave-to{
  transform: translateX(30px);
  opacity: 0;
}
.menu .col{
  text-decoration: none;
}